<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rule_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule_id" data-rule="required" data-source="rule/index" class="form-control selectpage" name="row[rule_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rule_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule_name" data-rule="required" class="form-control" name="row[rule_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rule_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule_type" data-rule="required" class="form-control" name="row[rule_type]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source_table')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_table" data-rule="required" class="form-control" name="row[source_table]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source_field')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_field" data-rule="required" class="form-control" name="row[source_field]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Target_table')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-target_table" class="form-control" name="row[target_table]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Target_field')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-target_field" class="form-control" name="row[target_field]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Validation_expression')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-validation_expression" data-rule="required" class="form-control " rows="5" name="row[validation_expression]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expected_value')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expected_value" class="form-control" name="row[expected_value]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Error_message')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-error_message" data-rule="required" class="form-control" name="row[error_message]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Priority')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-priority" data-rule="required" class="form-control" name="row[priority]" type="number" value="5">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_active')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_active" class="form-control selectpicker" name="row[is_active]">
                {foreach name="isActiveList" item="vo"}
                    <option value="{$key}" {in name="key" value="Enable"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Created_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-created_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[created_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Updated_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-updated_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[updated_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
